<form method="post" class="form" role="form">
    <div class="form-group "><label for="title">Book title:</label>
        <input id="title" name="title" type="text" value="">
    </div>
    <div class="form-group "><label for="arthor">Arthor:</label>
        <input id="arthor" name="arthor" type="text" value="">
    </div>
    <div class="form-group "><label for="publisher">Publisher:</label>
        <input id="publisher" name="publisher" type="text" value="">
    </div>
    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
</form>